*.py[cod]
.cache

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
wheelhouse

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov
junit-test-results.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Data Collection Script Side Effects
datacollection/get_data.sh

# OSX Garbage
.DS_Store
__MACOSX

#Grokcli side effects
grokcli_summary.csv

#Tools side effects
tools/*.csv

# android files
*.apk
*.ap_
*.dex
local.properties

# generated android files
bin/
gen/
out/

# Java class files
*.class

# Eclipse project files
#.classpath
#.project
grok.keystore
.metadata

# Idea project files
*.iml
.idea
robotium-solo-5.0.1.jar.properties
.pmd
*.o
*.pkl

# Domino files
.domino*

# Jupyter notebooks
*checkpoint.ipynb
*.ipynb_checkpoints

# Keras
*.h5

# Datasets extensions
*_TEST
*_TRAIN
*_ALL
/projects/l2_pooling/plots
/projects/combined_sequences/plots
/domino.log
.vscode/
/projects/combined_sequences/detailed_plots
