# Program requirements
matplotlib
pandas
plotly>=1.12.10
simplejson
tabulate
tqdm
prettytable
plyfile
scikit-learn
scipy
hpelm

# github requirements
# git://github.com/pybrain/pybrain.git#egg=pybrain
